body {
	background: url(http://www.powerpointhintergrund.com/uploads/2017/05/home-mini-sacrament-kit-aaronic-priesthood-booklet-angels-booklet--1.jpeg);
}

.topRow{
	background: url("http://www.zastavki.com/pictures/originals/2015/Backgrounds_Masonry_made_of_stone__background_103637_.jpg");
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: black;
}

#leftMenuOptions {
	margin-left: 50px;
}

#mLogo {
	width: 70px;
	padding: 0px;
	color: white;
	text-align: center;
	font-size: 46px;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	border-radius: 50px;
}

.mainTab {
	background: rgba(214, 214, 214, .5);
	width: 150px;
	height: 50px;
	box-shadow: 0px 3px 15px black;
	border-radius: 15px;
	margin: 10px;
	float: left;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
}

.mainTab:hover {
	color: black;
	box-shadow: 0px 0px 0px black;
}

.chapter {
	height: 70px;
	width: 100%;
	background: linear-gradient(#96683e, #5f3212);
	margin: 5px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	padding-top: 15px;
	box-shadow: 5px 3px 5px black;
	font-family: 'Courgette', cursive;
	font-size: 24px;
	color: #cacaca;
}

.chapter:hover {
	border-style: inset;
	background: linear-gradient(#e0aa61, #9e7f56);
	box-shadow: 0px 0px 0px;
}

.chapterText {
	display: none;
	font-family: 'Architects Daughter', cursive;
	color: black;
}

.chapterContent {
	height: 600px;
	padding: 10px;
	border-radius: 20px 0px;
	border-width: 0px 0px 0px 2px;
	border-style: solid;
	border-color: black;
}

.page-header {
	margin-left: 50px;
	border-color: black;
	font-family: 'Courgette', cursive;
}

p {
	font-family: 'Architects Daughter', cursive;
	font-size: 17px;
}

@media only screen and (max-width: 500px) {
	.chapter {
		font-size: 30px;
	}
}