.topRow{
	background: #2a1965;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: black;
}

.nav {
	margin-left: 50px;
}

.nav-tabs {
	border-color: #2a1965;
}
.mainTab {
	border-style: solid;
	border-width: 2px 2px 0px 2px;
	border-color: black;
	border-radius: 10px 10px 0px 0px;
	margin: 2px;
	background: white;
}


.mainMenu {
	height: 50px;
	width: 160px;
	background: gold;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
	box-shadow: 6px 6px 3px #4e4e4e;
}

.mainMenu:hover {
	box-shadow: 0px 0px 0px;
}

#mainMenuButtons {
	margin-top: 10%;
	margin-left: 28%;
}

#party_title {
	color: #000000;
	width: 50%;
	font-family: 'Bershire Swash', cursive;
	border-bottom: 3px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	margin-left: 25%;
	border-style: solid;
	border-color: black;
	text-align: center;
}

#log_title {
	position: absolute;
	top: 350px;
}

#chp1 {
	position: absolute;
	top: 400px;
}

.id {
	font-style: italic;
}

.character {
	text-align: center;
	height: 75px;
	width: 75px;
	font-size: 14px;
	color: white;
	border-width: 4px;
	border-color: #988a8a;
	border-style: double;
	border-radius: 40px;
	float: left;
	padding-top: 25px;
	margin: 5px;
	background-image: url("http://images.all-free-download.com/images/graphiclarge/wood_background_hd_picture_4_169843.jpg");
	box-shadow: 5px 3px 5px 3px #231e1e;
	font-family: 'Merienda One', cursive;
}

.character:hover {
	box-shadow: 0px 0px 5px 3px;
}

.statbox {
	background: white;
	border-radius: 25px;
	border: 4px;
	border-color: #888;
	border-style: inset;
	height: 90px;
	width: 90px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 3px;
	float: left;
}

.ability {
	text-align: center;
	padding: auto;
	margin-top: 8px;

}

#abilityTitle {
	background: linear-gradient(to bottom left, grey, black);
	color: white;
	margin: 0px;
	padding-left: 10px;
	border-radius: 5px 5px 0px 0px;
}

.sectionTitles {
	background: linear-gradient(to bottom left, grey, black);
	color: white;
	margin: 0px;
	padding-left: 10px;
	border-radius: 5px 5px 0px 0px;
}

th {
	width: 25px;
	font-size: 20px;
	padding-top: 10px;
}

.tableWords {
	font-size: 12px;
}

.mod {
	border-radius: 50px/50px;
	border: 2px solid #000000;
	text-align: center;
	width: 40px;
	float: left;
	position: relative;
	left: 21px;
	bottom: 5px;
}
.return {
	width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 22px;
}

.return:hover {
	background: darkgreen;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

.fenla_title {
	height: 50px;
	width: 70%;
	font-size: 44px;
	font-family: 'Lobster Two', cursive;
	text-align: center;
	color: white;
	background-image: url("http://wallpapercave.com/wp/AmVE9iw.jpg");
	background-position: 0% 15%;
	background-size: 100% 250px;
	background-repeat: no-repeat;
	border: 2px;
    border-style: inset;
    border-color: gold;
    box-shadow: 0px 0px 4px 4px grey;
}

.alea_title {
	height: 50px;
	width: 70%;
	text-align: center;
	font-size: 44px;
	font-family: 'Lobster Two', cursive;
	color: white;
	background: #c7ca1f;
	border: 2px;
    border-style: inset;
    border-color: gold;
    padding-bottom: 2px;
    box-shadow: 0px 0px 4px 4px grey;
}

.clithsbee_title {
	height: 50px;
	width: 70%;
	text-align: center;
	font-size: 44px;
	background: #4a1111;
	font-family: 'Lobster Two', cursive;
	color: white;
	border: 2px;
    border-style: inset;
    border-color: gold;
    box-shadow: 0px 0px 4px 4px grey;
}

.fannar_title {
	height: 50px;
	width: 70%;
	text-align: center;
	background: #006167;
	font-size: 44px;
	font-family: 'Lobster Two', cursive;
	color: white;
	border: 2px;
    border-style: inset;
    border-color: gold;
    box-shadow: 0px 0px 4px 4px grey;
}

.regina_title {
	height: 50px;
	width: 70%;
	font-size: 40px;
	font-family: 'Lobster Two', cursive;
	text-align: center;
	color: white;
	background: #55047d;
	border: 2px;
    border-style: inset;
    border-color: gold;
    box-shadow: 0px 0px 4px 4px grey;
}

.scepter_title {
	height: 50px;
	width: 70%;
	font-size: 40px;
	font-family: 'Lobster Two', cursive;
	text-align: center;
	color: white;
	background: #c54c04;
	border: 2px;
    border-style: inset;
    border-color: gold;
    box-shadow: 0px 0px 4px 4px grey;
}

.syndir_title {
	height: 50px;
	width: 70%;
	text-align: center;
	background: #ff0000;
	font-size: 40px;
	font-family: 'Lobster Two', cursive;
	color: white;
	border: 2px;
    border-style: inset;
    border-color: gold;
    box-shadow: 0px 0px 4px 4px grey;
}

.franco_title {
	height: 50px;
	width: 70%;
	font-size: 40px;
	font-family: 'Lobster Two', cursive;
	text-align: center;
	color: white;
	background: #0300b1;
	border: 2px;
    border-style: inset;
    border-color: gold;
    box-shadow: 0px 0px 5px 5px grey;
}

.spells {
	clear: both;
	position: relative;
	top: 50px;
	left: 100px;
}

.main_stats {
	margin-left: 50px;
}

.section_titles {
	font-size: 30px;
	margin-left: 58px;
}

ul {
	font-weight: bold;
}

li {
	padding-bottom: 0px;
}

a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #7d7028;
}

a:active {
	text-decoration: none;
	color: #000000;
}

.spell {
	display: none;
}

.input-group {
	margin: 15px;
}

.panel-heading {
	font-size: 24px;
}

.add {
	margin-left: 5px;
	margin-bottom: 5px;
}

.fenla > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #1a401a, #50d048);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.clithsbee > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #4a1111, #d04444);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.scepter > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #c54c04, #ffe04b);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.syndir > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #ff0000, #ffa6a6);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.regina > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #55047d, #d65ad6);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.fannar > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #006167, #92ffed);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.alea > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #c7ca1f, #fffad4);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.franco > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #0300b1, #c5c5ff);
	border-color: black;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}


.panel > .panel-heading > a:hover {
	text-decoration: none;
	color: #000000;
}

.fenla {
	display: none;
}

.clithsbee {
	display: none;
}

.scepter {
	display: none;
}

.syndir {
	display: none;
}

.alea {
	display: none;
}

.fannar {
	display: none;
}

.regina {
	display: none;
}

.franco {
	display: none;
}

footer {
	background: black;
	color: white;
	height: 80px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
}

.panel-default {
	border-width: 0px;
}

.panel-collapse {
	border-width: 0px;
}

.spellName {

	cursor: pointer;
}

#newSpellsButton {
	width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 22px;
    margin-bottom: 10px;
}

#newSpellsButton:hover {
	background: darkgreen;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

.choose {
	margin-bottom:  20px;
}

.choose:focus {
	outline: none;
	background: #84dc69;
}

.choose:active {
	outline: none;
	background: #84dc69;
}

.btn-default {
	margin-bottom: 2px;
	margin-right: 4px;
}

#deleteSpells {
	width: 70%;
	background: #ff6767;
	border-width: 2px;
	border-color:  #383030;
	border-style: solid;
	border-radius: 5px;
	margin-top: 25px;
}

#deleteSpells:hover {
	background: red;
	border-width: 3px;
	border-color: black;
	border-style: solid;
}

#deleteSpells:focus {
	outline: none;
}

#deleteMessage {
	position: relative;
	top: 14px;
	text-align: center;
}


.btn-group {
	margin-top: 24px;
}

#italics {
	font-family: serif;
	font-style: italic;
}

.learn {
	float: right;
	background: green;
	border-radius: 5px;
	border-width: 0px;
}

#spellList {
	margin-top: 20px;
}

#pickCharacterTitle {
	margin-top: 10px;
}