
#main_head {
	background: #b9a9a9;
	text-align: center;
}

.mainMenu {
	height: 50px;
	width: 30%;
	background: gold;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	margin: 10px;
	text-align: center;
}

#mainMenuButtons {
	margin-top: 25%;
}

#party_title {
	color: #000000;
	width: 50%;
	font-family: 'Bershire Swash', cursive;
	border-bottom: 3px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	margin-left: 25%;
	border-style: solid;
	border-color: black;
	text-align: center;
}

#log_title {
	position: absolute;
	top: 350px;
}

#chp1 {
	position: absolute;
	top: 400px;
}

.id {
	font-style: italic;
}

.character {
	text-align: center;
	font-size: 18px;
}

.statbox {
	background: white;
	border-radius: 25px;
	border: 4px;
	border-color: #888;
	border-style: inset;
	height: 90px;
	width: 90px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 3px;
	float: left;
}

.ability {
	text-align: center;
	padding: auto;
	margin-top: 8px;

}
.mod {
	border-radius: 50px/50px;
	border: 2px solid #000000;
	text-align: center;
	width: 40px;
	float: left;
	position: relative;
	left: 21px;
	bottom: 5px;
}
.return {
	width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 22px;
}

.return:hover {
	background: darkgreen;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

.fenla_title {
	height: 50px;
	width: 100%;
	text-align: center;
	color: white;
	background: linear-gradient(#1a401a, #1c9614, #1a401a);
	border: 2px;
    border-style: inset;
    border-color: gold;

}

.alea_title {
	height: 50px;
	width: 100%;
	text-align: center;
	color: white;
	background: #dcc926;
	border: 3px;
    border-style: inset;
    border-color: gold;
}

.clithsbee_title {
	height: 50px;
	width: 100%;
	text-align: center;
	color: white;
	background: #d04444;
	border: 3px;
    border-style: inset;
    border-color: black;
}

.fannar_title {
	height: 50px;
	width: 100%;
	text-align: center;
	color: white;
	background: #14caac;
	border: 3px;
    border-style: inset;
    border-color: blue;
}

.regina_title {
	height: 50px;
	width: 100%;
	text-align: center;
	color: white;
	background: #af4faf;
	border: 3px;
    border-style: inset;
    border-color: #9a0000;
    font-size: 30px;
}

.scepter_title {
	height: 50px;
	width: 100%;
	text-align: center;
	color: white;
	background: #ff9723;
	border: 3px;
    border-style: inset;
    border-color: gold;
}

.syndir_title {
	height: 50px;
	width: 100%;
	text-align: center;
	color: white;
	background: #f50055;
	border: 3px;
    border-style: inset;
    border-color: green;
}

.franco_title {
	height: 50px;
	width: 100%;
	text-align: center;
	color: white;
	background: darkblue;
	border: 3px;
    border-style: inset;
    border-color: grey;
}

.spells {
	clear: both;
	position: relative;
	top: 50px;
	left: 100px;
}

.main_stats {
	margin-left: 50px;
}

.section_titles {
	font-size: 30px;
	margin-left: 58px;
}

ul {
	font-weight: bold;
}

li {
	padding-bottom: 0px;
}

a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #7d7028;
}

a:active {
	text-decoration: none;
	color: #000000;
}

.spell {
	display: none;
}

.input-group {
	margin: 15px;
}

.panel-heading {
	font-size: 24px;
}

.add {
	margin-left: 5px;
	margin-bottom: 5px;
}

.fenla > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #1a401a, #50d048);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.clithsbee > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #4a1111, #d04444);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.scepter > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #c54c04, #ffe04b);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.syndir > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #ff0000, #ffa6a6);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.regina > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #55047d, #d65ad6);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.fannar > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #006167, #92ffed);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.alea > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #c7ca1f, #fffad4);
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}

.franco > .panel > .panel-heading {
	background-image: none;
	background: linear-gradient(to bottom left, #0300b1, #c5c5ff);
	border-color: black;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
}


.panel > .panel-heading > a:hover {
	text-decoration: none;
	color: #000000;
}

.fenla {
	display: none;
}

.clithsbee {
	display: none;
}

.scepter {
	display: none;
}

.syndir {
	display: none;
}

.alea {
	display: none;
}

.fannar {
	display: none;
}

.regina {
	display: none;
}

.franco {
	display: none;
}

footer {
	background: black;
	color: white;
	height: 80px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
}

.panel-default {
	border-width: 0px;
}

.panel-collapse {
	border-width: 0px;
}

.spellName {

	cursor: pointer;
}

#newSpellsButton {
	width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 22px;
    margin-bottom: 10px;
}

#newSpellsButton:hover {
	background: darkgreen;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

.choose {
	margin-top: 15px;
}

.choose:focus {
	outline: none;
	background: #84dc69;
}

.choose:active {
	outline: none;
}

.btn-default {
	margin-bottom: 2px;
	margin-right: 4px;
}

#deleteSpells {
	width: 70%;
	background: #ff6767;
	border-width: 2px;
	border-color:  #383030;
	border-style: solid;
	margin-top: 10px;
}

#deleteSpells:hover {
	background: red;
	border-width: 3px;
	border-color: black;
	border-style: solid;
}

#deleteSpells:focus {
	outline: none;
}

#deleteMessage {
	position: relative;
	top: 14px;
	text-align: center;
}

.chapter {
	height: 70px;
	width: 100%;
	background: linear-gradient(lightgrey, grey);
	margin: 1px;
	border-width: 2px 0px 2px 0px;
	border-color: black;
	border-style: solid;
	text-align: center;
	font-size: 20px;
	padding-top: 5px;
}

.chapterText {
	display: none;

}

.chapterContent {
	height: 600px;
	padding: 10px;
	border-radius: 20px;
	border-width: 0px 0px 0px 2px;
	border-style: solid;
	border-color: lightgrey;
}

.btn-group {
	margin-top: 24px;
}

#italics {
	font-style: italic;
}