body {
	background: black;
}

#titleScreen {
	height: 400px;
	width: 500px;
	color: white;
	margin-left: 30%;
	margin-top: 200px;
	background: transparent;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

#startButton {
	margin-top: 50px;
}

#mainTitle {
	padding-top: 25px;
}

#combatScreen {
	display: none;
}

#heroSelectScreen {
	display: none;
}

#socialScreen {
	display: none;
}

.character{
	color: white;
	height: auto;
	width: 100px;
	background: grey;
}

#hero {
	float: left;
	margin: 20px;
	position: relative;
	text-align: center;
}

#enemy {
	float: right;
	margin: 20px;
}

#actionMenu {
	color: white;
	background: transparent;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

.enemyStats {
	float: left;
}

#damageTaken {
	position: relative;
	color: red;
}

.damageAnimate {
	margin-left: 15px;
	color: red;
	position: relative;
}

#statBox {
	color: white;
	background: transparent;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
}

#adventureScreen {
	background: transparent;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	height: 600px;
	width: 90%;
	margin-top: 30px;
	display: none;
	overflow: hidden;
}

#playerHero {
	background: green;
	height: 40px;
	width: 30px;
	position: relative;
}

.generated {
	background: blue;
	margin: 5px;
	height: 70px;
	width: 90px;
	text-align: center;
	padding-top: 15px;
}

.enemyButtons {
	background: green;
	margin: 5px;
	height: 100px;
	width: 100px;
}

#mysteriousTraveler {
	border-width: 5px;
	border-color: white;
	border-style: solid;
}

#mysteriousPicture {
	background: grey;
	height: 350px;
	width: 90%;
	margin: 10%;
	text-align: center;
}

#dialogBox {
	background: white;
	height: 100px;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 15px;
}

#playerChoices {
	margin-top: 10px;
}

#choiceOne {
	background: orange;
	height: 150px;
	width: 30%;
	float: left;
	margin-left: 3%;
}

#choiceTwo {
	background: orange;
	height: 150px;
	width: 30%;
	float: left;
	margin-left: 3%;
}

#choiceThree {
	background: orange;
	height: 150px;
	width: 30%;
	float: left;
	margin-left: 3%;
}

#successMeter {
	border-color: white;
	border-style: solid;
	border-width: 4px;
	height: 300px;
	width: 75px;
	margin-top: 50px;
}

#emptyMeter {
	background: transparent;
	height: 60%;
	width: 67px;
}

#percentageMeter {
	background: red;
	height: 40%;
	width: 67px;
}